.flex-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .half {
    width: 50%;
  }
  
  .p-card {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: rgb(182, 182, 182);
    align-items: center;
    justify-content: center;
    outline: rgb(0, 0, 0) solid;
  }
  
  .main-pcard{
    width: 50%;
  }
  
  .blue {
    border: solid blue;
  }
  
  .good {
    color:green;
  }
  
  .bad {
    color:red;
  }
  
  /* .secondary-pcard{
  
  } */
  
  input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 75%
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  
  .center-text {
    text-align: center;
  }

  .user-data {
    width: 45%;
  }

  .response {
    width: 55%;
  }

  input {
    font-size: 1rem;
  }
  
  optgroup { font-size:1rem; }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    width: 100%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1rem;
    font-size: 30px;
    text-align: center;
  }

  .checkbox {
    scale: 3;
  }

  button{
    margin-left: 1rem;
    padding: 0.5rem;
    font-size: larger;
  }

  .loader{  
    height: 200px;
    width: 200px;
    border: 12px solid #e3e3e3;
    border-radius: 50%;
    border-right-color: #2196F3;
    animation: spin 1s ease infinite;
  }

  .ai-text {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 5rem;
    padding-right: 2rem;
    font-size: 25px;
  }
  @keyframes spin{
    100%{
      transform: rotate(360deg);
    }
  }